<div class="item-card-mini" data-item-id="{{item.id}}" title="{{item.name}}">
    <img src="{{item.img}}"/>
    {{!-- Кнопка снятия (появляется при наведении CSS) --}}
    <a class="item-unequip"><i class="fas fa-times"></i></a>
</div>
