{{!-- templates/item/item-base-sheet.hbs --}}
<form class="{{cssClass}}" autocomplete="off">

  {{> "systems/dungeon-stone/templates/item/parts/_item-header.hbs"}}

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Описание</a>
    <a class="item" data-tab="effects">Эффекты</a>
  </nav>

  <section class="sheet-body">
    {{!-- Описание --}}
    <div class="tab description" data-group="primary" data-tab="description">
      <div class="editor-container">
        {{editor system.description target="system.description" button=true editable=editable engine="prosemirror" collaborate=false}}
      </div>
    </div>

    {{!-- Эффекты --}}
    {{> "systems/dungeon-stone/templates/item/parts/effects-tab.hbs"}}
  </section>
</form>
