:root {
    --color-bg-dark: #0e0e0e;
    --color-bg-panel: #181818;
    --color-border: #333;
    --color-gold: #d4af37;
    --color-text: #e0e0e0;
    --font-primary: "Signika", sans-serif;
}

/* Цвет иконок в редакторе */
.ProseMirror-menubar .pm-icon {
    fill: #ccc !important; /* Светло-серый */
}

/* При наведении */
.ProseMirror-menuitem:hover .pm-icon {
    fill: #fff !important; /* Белый */
}

/* Фон кнопок */
.ProseMirror-menuitem {
    background: transparent !important;
    border: 1px solid transparent !important;
}

.ProseMirror-menuitem:hover {
    background: #444 !important;
    border-color: #666 !important;
}

